<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Bitbucket.Api.AccountRepository.Account" value="bitbucket account name"/>
    <add key="Bitbucket.Api.AccountRepository.Repository" value="repository"/>
    <add key="Bitbucket.Api.AccountRepository.UserName" value="bitbucket user"/>
    <add key="Bitbucket.Api.AccountRepository.Password" value="bitbucket password"/>

    <add key="Bitbucket.Api.Settings.BranchName" value="branch name"/>
    <add key="Bitbucket.Api.Settings.ConnectionString" value="Integrated Security=SSPI;Initial Catalog=Bitbucket;Data Source=TOWER"/>
  </appSettings>
</configuration>